.navbar-custom{
    background-color: #243A61;
    color: white;
    margin-top: 0px;
}

.page-footer{
    background-color: #243A61;
    color: white;
    height: 100%;
}

.divWidget{
    margin-right: 0;
    height: 92px;
}

.fa-comment-dots:hover{
    color: #243A61;
    transform: rotate(15deg);
}

